* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slide {
    width: 100%;
    height: 100vh;
    /* 아래에 flex 넣으면 description에 글 썼을 때 flex-row로 되어 오른쪽으로 나타난다. */
    display: block;
    /* align-items: center;
    justify-content: center; */
    /* gap: 50px; */
    color: black;
    scroll-snap-align: start;
    background-color: #FFF100;
}

.subject {
    padding: 30px 20px 0 20px;
    position: relative;
}

.contents {
    border: 1px solid black;
    width: 100%;
    margin-top: 50px;
}

