* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Contain에 Background Image 삽입 */
.contain {
    background-image: url("image/background_image.jpg");
    background-size: 100% 100vh;
    position: relative;
    width: 100%;
    height: 100%;
}
.subject {
    position: absolute;
    padding: 7px;
    top: 68%;
    left: 60%;
    font-size: 2.1em;
    font-weight: 900;
    color: purple;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: purple;
}


