* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 600vh;
}

.container {
    width: 100%;
}

.slide {
    width: 100%;
    /* height: 100vh; 한 슬라이드를 100vh 단위로 설정할 수 있다 */
    display: block;
    color: black;
    background-color: white;
}

.subject {
    padding: 30px 20px 0 20px;
    /* position: relative;
} */

.contents {
    border: 1px solid black;
    width: 100%;
    margin-top: 50px;
    font-size: 0.9em;
}

.ollist {
    margin-left: 20px;
}
